@charset "ISO-8859-1";
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url("../image/reg.jpg");
	height: 100vh;
	background-size: cover;
	background-position:center;
	background-repeat:no-repeat;
	font-size: 20px;
	overflow-x:hidden;
	color:ghostWhite;
	font-family: 'Flamenco', italic;
}
input[type=email],input[type=tel]{
	height:40px;
	width:80%;
	margin-bottom:3px;
	border: 2px solid white;
		word-spacing: 3px;
	letter-spacing: 5px;
	
	outline: none;
	color:ghostwhite ;
	background:  rgba(0,0,0,0.5);
	font-size: 16px;
	margin-left: 15px;
	text-align: center;
	margin-top: 15px;
}
input[type=text],input[type=password]{
	height:40px;
	width:37%;
	margin-bottom:3px;
	border: 2px solid white;
		word-spacing: 3px;
	letter-spacing: 5px;
	margin-top: 15px;
	outline: none;
	color:ghostwhite ;
	background: rgba(0,0,0,0.5);
	font-size: 16px;
	margin-left: 15px;
	text-align: center;
}
input[type=submit]{
	margin-top:15px;
	width:80%;
	border-radius:8px;
	border: 2px solid white;
	padding: 8px 80px;
	color:ghostwhite;
	text-transform:uppercase;
	 background-color: mediumseagreen;
	 font-size: 16px;
	 word-spacing: 3px;
	letter-spacing: 5px;
	 font-weight: lighter;
	 margin-top: 15px;
}
input[type=submit]:hover{
	background-color: skyblue; 
}
.main{
	width: 450px;
	height:420px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50% ,-50%);
	background-color:purple;
	border-radius:9px;
	border:10px solid rgba(0,0,0,0.4);
	text-align: center;
	opacity: 0.7;
}
h1{
	text-align: center;
	margin-top: 20px;
	color:lime;
	font-size: xx-large;
	text-transform: uppercase;
	font-weight: lighter;
}
.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	background-color: transparent;
	border: 0.4px outset rgba(0,0,0,0.4);
}
.link a{
	text-decoration: none;
	color:ghostwhite;
	
}
.link a:hover {	
	border-bottom:3px solid blue;
}

